In [45]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('car_age_price.csv')
data.head()

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000

In [3]:
data.shape

(112, 2)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [5]:
data.isna().sum()

Year     0
Price    0
dtype: int64

In [19]:
X=data.drop('Price',axis=1)
Y=data['Price']

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.2,random_state=42)

In [38]:
from sklearn import linear_model
model=linear_model.LinearRegression()
lr = model.fit(X_train,Y_train)

In [39]:
pre = model.predict(X_test)

In [40]:
pre

array([600775.91252081, 505558.77690466, 553167.34471273, 553167.34471273,
       553167.34471273, 410341.6412885 , 505558.77690466, 553167.34471273,
       600775.91252081, 600775.91252081, 315124.50567235, 505558.77690466,
       410341.6412885 , 648384.48032889, 553167.34471273, 600775.91252081,
       315124.50567235, 410341.6412885 , 505558.77690466, 505558.77690466,
       505558.77690466, 505558.77690466, 505558.77690466])

In [44]:
model.score(X_test,Y_test)

0.36759313425902185

In [33]:
year=[2022,2023,2024]
df=pd.DataFrame(year,columns=['year'])
df

   year
0  2022
1  2023
2  2024

In [34]:
pre = model.predict(df)

In [35]:
pre

array([651595.99528858, 686389.87043582, 721183.74558304])